.cart-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.cart-container .cart-header {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.cart-container .cart-header h2 {
  font-weight: normal;
}

.cart-container .cart-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}